<options>
	<start><![CDATA[require 'rubygems' 
require 'watir' 
require 'watir/contrib/ie-new-process'
require 'win32ole' 
require 'test/unit' 
require 'ci/reporter/rake/test_unit_loader' 
include Watir 
 
class TestCase_REPLACE < Test::Unit::TestCase 
	def setup 
		@browser = Watir::Browser.new 
	end 
	def teardown 
		@browser.close 
	end 
	def test_REPLACE]]>
	</start>
	<end><![CDATA[	end
end]]>
	</end>
</options>